
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    padding: 0 16px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(103, 100, 103, 0.7);
    background-color: rgb(165, 179, 254);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.formTitle {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    color: #252525;
}

.label {
    font-size: 20px;
    font-weight: bold;
}

.formGroup {
    width: 100%;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 8px;
    border: 1px solid #888;
    outline: none;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: border-color 250ms, box-shadow 250ms;
    color: #252525;
}

.input:focus {
    border-color: #525af8;
    box-shadow: 0 0 5px rgba(82, 90, 248, 0.5);
}

.iconInputWrapper {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #525af8;
}
.submitButton {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #525af8;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 250ms, transform 250ms;
}

.submitButton:hover {
    background-color: #d340cc;
    transform: scale(1.05);
}

.submitButton:active {
    background-color: #0c1eed;
    transform: scale(1);
}
.errorMessage {
    margin-top: 5px;
    font-size: 12px;
    color: #f3240d;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .form {
        padding: 15px;
        box-shadow: none;
    }

    .formTitle {
        font-size: 20px;
    }

    .input {
        font-size: 13px;
        padding: 8px 30px 8px 10px;
    }

    .submitButton {
        font-size: 14px;
        width: 80%;
        max-width: 200px;
        padding: 8px 12px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .form {
        padding: 20px;
    }

    .formTitle {
        font-size: 22px;
    }

    .input {
        font-size: 14px;
        padding: 10px 35px 10px 12px;
    }

    .submitButton {
        font-size: 15px;
        width: 60%;
        max-width: 250px;
    }
}

@media (min-width: 1025px) {
    .form {
        padding: 25px;
    }

    .formTitle {
        font-size: 24px;
    }

    .input {
        font-size: 16px;
    }

    .submitButton {
        font-size: 16px;
        width: 50%;
        max-width: 300px;
    }
}